<div style="color:#fff;margin-top: 1.5rem; margin-bottom: 1.5rem;" class="content-container container-fluid">
  <div>
    <div class=" col-12 d-flex uni-info">
    <div>
      <a class="text-white col-lg-3 col-md-6 col-xs-6 footer-widget"
        target="_blank"
        href="https://www.nu.edu.sa/">

        <img style="width: 175px; height:
            130px; margin-top:-15px;"
            src="assets/images/whitelogo.png" />


      </a>
      <br>
    </div>
    <div class="repo-info" style="margin-right: -30px;margin-top: 0px;">
      <!-- <h6 class="widget-title mt-0 mb-2 pt-1
      pb-1" style="color:#fff;">{{'footer.top.content1'
      | translate}}</h6>
    <h6 class="mt-0 mb-2 " style="color:#fff;margin-top: -8px !important;">
      {{'footer.top.content6' | translate}} </h6> -->

      <div style="color: #fff;" class=" font-12 mb-1">
        {{'footer.top.content2' | translate}}</div>
        
        <ul class="list-inline font-16 mb-2 social-list">
          <li class="list-inline-item m-0">
            <a id="lnktwitter" class="twitterIcon"
              href="https://www.nu.edu.sa/" target="_blank">
              <span class="fa-stack">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li class="list-inline-item m-0">
            <a id="lnklinkedIn" class="linkedinIcon"
              href="https://www.nu.edu.sa/"
              target="_blank">
              <span class="fa-stack">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>

          <li class="list-inline-item m-0">
            <a id="lnklinkedIn" class="linkedinIcon"
              href="https://www.nu.edu.sa/" target="_blank">
              <span class="fa-stack">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-telegram fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>

          <li class="list-inline-item m-0">
            <a id="lnklinkedIn" class="linkedinIcon"
              href="https://www.nu.edu.sa/" target="_blank">
              <span class="fa-stack">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>

          <li class="list-inline-item m-0">
            <a id="lnklinkedIn" class="linkedinIcon"
              href="https://www.nu.edu.sa/" target="_blank">
              <span class="fa-stack">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-rss fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>




        </ul>



      <div style="color: #fff;" class="font-14 mt-1 mb-1 ">
        {{'footer.top.content3' | translate}} <a class="text-white"
          routerLink="info/feedback">{{ 'footer.link.feedback' | translate}}</a>!</div>
    </div>
  </div>
  </div>



  <div class="col-lg-3 col-md-6 col-xs-6 footer-widget">

    <h5 class="widget-title mt-0 mb-2 " style="color:#FFF;">{{'footer.copyRights.link'
      | translate}}</h5>
  

    <ul style="color:#0F3156;" class="footer-info list-unstyled small font-12
      ustify-content-center
      mb-0">

      <li>
        <a style="color:#FFF;" class="" href="#"
        (click)="showCookieSettings()">{{ 'footer.link.cookies' |
        translate}}</a>
      </li>
      <li>
        <a style="color:#FFF;" class=""
                routerLink="info/privacy">{{ 'footer.link.privacy-policy' |
                translate}}</a>
      </li>
      <li>
        <a style="color:#FFF;" class=""
                routerLink="info/end-user-agreement">{{
                'footer.link.end-user-agreement' | translate}}</a>
      </li>
    </ul>
  </div>

  <div class="col-lg-3 col-md-6 col-xs-6 footer-widget">

    <h5 class="widget-title mt-0 mb-2 " style="color:#FFF;">{{'footer.important.links10'
      | translate}}</h5>
   

    <ul style="color:#0F3156;" class="footer-info list-unstyled small font-12
      ustify-content-center
      mb-0">

      <li>
        <a class="" target="_blank"
          href="https://nufind.nu.edu.sa">{{
          'footer.important.links11' |
          translate}}</a>
      </li>
      <li>
        <a class="" target="_blank"
          href="https://libguides.nu.edu.sa">{{
          'footer.important.links12' |
          translate}}</a>
      </li>
      <!-- <li>
        <a class="" target="_blank"
          href="https://dcsl.nu.edu.sa/60">{{
          'footer.important.links13' |
          translate}}</a>
      </li> -->
      <li>
        <a class="" target="_blank"
          href="https://library.nu.edu.sa/">{{
          'footer.important.links14' |
          translate}}</a>
      </li>
      <!-- <li>
        <a class="" target="_blank"
          href="https://dcsl.nu.edu.sa/">{{
          'footer.important.links15' |
          translate}}</a>
      </li>
      <li>
        <a class="" target="_blank"
          href="https://tadreb.nu.edu.sa/">{{
          'footer.important.links16' |
          translate}}</a>
      </li> -->

      <li>
        <a class="" target="_blank"
          href="http://lib.nu.edu.sa/digitallibbrary.aspx">{{
          'footer.important.links17' |
          translate}}</a>
      </li>


    </ul>
  </div>


  <div class="col-lg-3 col-md-6 col-xs-6 footer-widget">

    <h5 class="widget-title mt-0 mb-2" style="color:#FFF;">{{'footer.important.links'
      | translate}}</h5>
   

    <ul style="color:#0F3156;" class="footer-info list-unstyled small font-12
      ustify-content-center
      mb-0">

      <li>
        <a class="" target="_blank"
          href="https://www.nu.edu.sa/web/sada-university/home">{{
          'footer.quick.links0' |
          translate}}</a>
      </li>
      <li>
        <a class="" target="_blank"
          href="https://news.nu.edu.sa/press-file">{{
          'footer.quick.links3' |
          translate}}</a>
      </li>
      <li>
        <a class="" target="_blank"
          href="https://edugate.nu.edu.sa/nu/ui/guest/academic_calendar/index/academicCalendarIndex.faces">{{
          'footer.important.links2' |
          translate}}</a>
      </li>
      <li>
        <a class="" target="_blank"
          href="https://stat.nu.edu.sa/">{{
          'footer.important.links5' |
          translate}}</a>
      </li>
      <li>
        <a class="" target="_blank"
          href="https://www.nu.edu.sa/visual-identity">{{
          'footer.important.links3' |
          translate}}</a>
      </li>
    </ul>
  </div>

</div>
<footer class="text-lg-start d-flex" style="justify-content: space-between;padding: 0 15px 0 15px;background-color: #1a3d67 !important;">

  <div>
    <p style="color:#FFF;" class="bottom-footer d-flex
      justify-content-center
      align-items-center
      rights">{{'footer.link.copyrights' | translate}}</p>
  </div>
  <!-- Copyright -->
  <div class="bottom-footer p-1 justify-content-center align-items-center
    text-white">
    <div class="content-container ">





      <div>
        <p class="m-0">
          <a class="text-white"
            href="http://www.dspace.org/">{{ 'footer.link.dspace' | translate}}</a>
          {{ 'footer.copyright' | translate:{year: dateObj | date:'y'} }}
          <a class="text-white"
            href="https://www.lyrasis.org/">{{ 'footer.link.lyrasis' |
            translate}}</a>
          {{ 'footer.link.arabizationsBy' | translate}}
          <a class="text-white" target="_blank"
            href="http://kwareict.com/ar"> <img style="width: 130px; height:
              30px;" src="assets/images/kware_logo_ar.png" />
          </a> </p>

      </div>

    </div>
  </div>
  <!-- Copyright -->
</footer>
