@media screen and (min-width: map-get($grid-breakpoints, md)) {
  nav.navbar {
    display: none;
    -webkit-transform: translate3d(0,0,1px) !important;
    transform: translate3d(0,0,1px)!important;
    

  }
  // .header {
  //   background-color: var(--ds-header-bg);

  // }
}

.navbar-brand img {
  @media screen and (max-width: map-get($grid-breakpoints, md)) {
    width: 100px;
    height: 90px;
    margin-top: -20px
  }
}
.navbar-toggler .navbar-toggler-icon {
  background-image: none !important;
  line-height: 1.5;
  color: #fff;

  z-index: 1000000;
}

.my-2 {
  margin-top: -.5rem !important;
}

.header {
  background-color: #c99e2d !important; //NU-edit
  position: fixed !important;
  width: 100%;
  -webkit-transform: translate3d(0,0,1px) !important;
  transform: translate3d(0,0,1px)!important;
}


nav{
  height: 120px;
  width: 100%;
}

::ng-deep ds-themed-header{
  ul li a{
    color: #FFF !important;
  }

   ds-link-menu-item .nav-item{
    color: #FFF !important;
  }
  .submit-icon{
    color: #FFF !important;
  }
 
  .navbar-toggler{
    background-color: #2961a4 !important;
  }
  
    .dropdown-toggle {
      color: #FFF !important;
    }
    .dropdown-toggle:hover, .dropdown-togglefocus {
      color: #FFF!important;
    }
    .lang-switcher-btn{
       color: #FFF !important;
    }


    ds-expandable-navbar-section ul{
      background-color: #c99e2d !important;
    // z-index: 1000000000000000000000000000000;
    }
}


////////////////////////////////////////

::ng-deep .scrolledHeader{

  @media screen and (min-width: map-get($grid-breakpoints, md)) {
    // nav.navbar {
    //   display: none;
  
    // }
    // {
    //   background-color: var(--ds-header-bg);
  
    // }
  }
  
  ds-expandable-navbar-section ul{
    background-color: #fff !important;
  }
  .navbar-brand img {
    @media screen and (max-width: map-get($grid-breakpoints, md)) {
      display: block;
      position: absolute;
       top: -5px !important;
      // filter: brightness(0) invert(1);
        width: 85px !important;
    }
  }
  .navbar-toggler .navbar-toggler-icon {
    background-image: none !important;
    line-height: 1.5;
    color: #fff !important;
    -webkit-transform: translate3d(0,0,1px) !important;
    transform: translate3d(0,0,1px)!important;
    z-index: 1000000;
  }
  
  .my-2 {
    margin-top: -.5rem !important;
  }
  
  
    background-color: #fff !important;

    position: fixed !important;
    width: 100%;
    -webkit-transform: translate3d(0,0,1px) !important;
    transform: translate3d(0,0,1px)!important;
    z-index: 1000000000000000000000000000000;
  
  
  
  nav{
    height: 67px;
    width: 100%;
    background-color: #FFF !important;
  }
  
  
    ul li a{
      color: #1d3e6c !important;
    }
  
     ds-link-menu-item .nav-item{
      color: #1d3e6c !important;
    }
    .submit-icon{
      color: #1d3e6c !important;
    }
   
    .navbar-toggler{
      background-color: #1d3e6c !important;
      -webkit-transform: translate3d(0,0,1px) !important;
      transform: translate3d(0,0,1px)!important;
    }
    
      .dropdown-toggle {
        color: #1d3e6c !important;
      }
      .dropdown-toggle:hover, .dropdown-togglefocus {
        color: #1d3e6c !important;
      }
      .lang-switcher-btn{
         color: #1d3e6c !important;
      }
  
  
      ds-expandable-navbar-section ul{
        background-color: #ffff !important;
      }


      ds-search-navbar input{
        position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    margin-bottom: 0;
   display: block;
   margin-top: 5px!important;
    margin-right: -113px!important;
    max-width: 120px;
      }
  
  
  
}


::ng-deep html[dir="rtl"] .scrolledHeader ds-expandable-navbar-section .dropdown-menu {
  transform: translate(2px, 33px) !important;
}


